$main-blue: rgb(29, 161, 242);
$back-blue: rgb(21, 32, 43);
$hover-blue: rgb(21, 48, 71);
$light-hover: rgb(0, 128, 255);
$heart: #E74C3C;

@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

@import 'credentials';
@import 'navigation';
@import 'profile';

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0 !important;
  background-color: $back-blue;
  box-sizing: border-box;
  color: white;
  font-family: "Ubuntu", "Roboto";
}

::placeholder {
  color: rgb(150, 150, 150) !important;
}

.btn:focus {
  box-shadow: none;
}

a, button {
  transition: background-color 0.2s, color 0.2s, border 0.2s;
}

#notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}