.credentials {
  text-align: center;
  height: 90vh;

  h1 {
    color: dodgerblue;
    font-size: 50px;
    font-family: 'Baloo Chettan 2', cursive;
    margin-top: 2rem;
  }

  .container {
    position: relative;
    color: white;
    background-color: rgb(25, 39, 52);
    width: 100%;
    max-width: 400px;
    min-height: 450px;
    border: 1px solid white;
    padding-bottom: 40px;
    margin: 70px auto;

    .alert {
      width: 80%;
      font-size: 14px;
      margin: 20px auto;
    }

    .form-group {
      width: 80%;
      margin: 30px auto;

      input {
        background-color: rgb(25, 39, 52);
        color: white;
        border: 2px solid white;
      }
    }

    .btn {
      width: 80%;
      margin: 1rem auto;
    }

    p {
      position: absolute;
      width: 90%;
      bottom: 0;
    }
  }
}