#profile {
  text-align: center;
  padding: 20px 0;
  margin-left: 22%;
  width: 47%;
  min-height: 100vh;
  border-right: 1px solid rgba(255,255,255,.25);

  #img-container {
    position: relative;
    padding: 20px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,.25);

    .follow {
      position: absolute;
      right: 20px;
      bottom: 20px;
      font-size: 14px;
      font-weight: bold;
      background-color: $back-blue;
      border-radius: 30px;
      box-shadow: none;
      color: $main-blue;
      border: 1px solid $main-blue;
    }

    .follow:hover {
      background-color: $hover-blue;
    }

    form {
      position: absolute;
      right: 20px;
      bottom: 0;

      label {
        cursor: pointer;
      }

      input {
        display: none;
      }
    }

    img {
      width: 160px;
      height: 160px;
      border-radius: 50%;
    }

    p {
      font-size: 24px;
      font-weight: bold;
    }
  }

  .navbar {
    font-weight: bold;
    padding: 0;
    border-bottom: 1px solid rgba(255,255,255,.25);
    height: 60px;
    .nav {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      height: 100%;
      .nav-item {
        width: 100%;
        .nav-link {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          color: darkgray;
          border-bottom: 3px solid $back-blue;
        }
        .nav-link:hover, .nav-link:active {
          background-color:$hover-blue;
          color: $main-blue;
          border-bottom: 3px solid $main-blue;
        }
        .selected {
          background-color:$hover-blue;
          color: $main-blue;
          border-bottom: 3px solid $main-blue;
        }
      }
    }
  }

  #profile-tweets {
    h3 {
      margin-top: 30px;
    }

    .tweet {
      position: relative;
      text-align: left;
      display: flex;
      border-bottom: 1px solid rgba(255,255,255,.25);
      transition: background-color 0.2s, color 0.2s;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 10px;
      }

      .tweet-main {
        margin-top: 10px;
        width: 85%;

        span {
          font-size: 18px;
          font-weight: bold;
        }
      }

      .tweet-content {
        display: flex;
        flex-direction: column;

        p {
          margin-bottom: 0;
          word-break: break-all;
        }
        div {
          z-index: 2;
          align-self: flex-end;

          .btn {
            margin: 0 3px 10px;
            box-shadow: none;
            padding: 0;
            background-color: transparent;
            color: darkgray;
            border: none;
          }

          .btn:hover {
            color: #E74C3C;
          }
        }
      }

      a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-decoration: none; /* No underlines on the link */
        z-index: 1; /* Places the link above everything else in the div */
        background-color: #FFF; /* Fix to make div clickable in IE */
        opacity: 0; /* Fix to make div clickable in IE */
        filter: alpha(opacity=1); /* Fix to make div clickable in IE */
      }
    }
    .tweet:hover {
      background-color: $hover-blue;
    }
  }
}